.input-group-underlined {
  position: relative;
  margin-top: 15px;
}

input:focus {
  border: none;
  outline: none;
}

.input-group-underlined input {
  border: none;
  border-bottom: 0.125rem solid var(--lightGray);
  width: 100%;
  height: 2rem;
  font-size: 1rem;
  padding-left: 0.875rem;
  line-height: 147.6%;
  padding-top: 2rem;
  padding-bottom: 0.7rem;
}

.input-group-underlined > .input-group-underlined__label {
  position: absolute;
  top: 1.17rem;
  left: 0.875rem;
  line-height: 147.6%;
  font-size: 1rem;
  color: var(--lightGray);
  transition: top 0.2s;
}

.input-group-underlined > input:hover {
  background: var(--input-interaction);
  border-color: var(--blue);
}

.input-group-underlined > input:focus + .input-group-underlined__label,
.input-group-underlined > input:valid + .input-group-underlined__label {
  top: 0;
  font-size: 0.7rem;
  margin-bottom: 2rem;
}

.input-group-underlined > input:focus + .input-group-underlined__label {
  color: var(--blue);
}

.input-group-underlined > input:focus {
  border-color: var(--blue);
}
