.layer-login {
  position: absolute;
  height: 0vh;
  width: 0vw;
  background-image: linear-gradient(to bottom, var(--primary), var(--secondary));
  animation: welcome 2s linear;
  animation-fill-mode: forwards;
  z-index: 2;
}

img.logo-login {
  position: absolute;
  animation: animacion_logo 2s linear;
  animation-fill-mode: forwards;
  height: 150px;
  z-index: 3;
}

img.logo-login-mobile {
  display: none;
}

@keyframes welcome {
  0% {
    height: 100vh;
    width: 100vw;
  }
  55% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  99% {
    height: 100vh;
    width: 100vw;
    display: none;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes animacion_logo {
  0% {
    opacity: 0;
    left: calc(40vw);
    top: 37vh;
    transform: scale(0.5);
  }
  50% {
    opacity: 1;
    transform: scale(1.1);
    left: calc(40vw);
  }
  60% {
    left: 40vw;
    transform: scale(1.1);
  }

  99% {
    left: 20vw;
    transform: scale(0.7);
  }
  100% {
    opacity: 1;
    transform: scale(0.7);
    left: 20%;
    top: 37vh;
    z-index: 1;
  }
}

@media (max-width: 720px) {
  img.logo-login {
    display: none;
  }

  img.logo-login-mobile {
    animation: animacion_logo 2s linear;
    display: block;
    animation-fill-mode: forwards;
    width: 23%;
  }
  .layer-login {
    background: #fff;
  }

  @keyframes animacion_logo {
    0% {
      opacity: 0;
      position: absolute;
      top: 50%;
      z-index: 4;
    }
    15% {
      opacity: 1;
    }
    30% {
      transform: rotate(720deg) scale(2);
    }
    60% {
      top: 50%;
      transform: scale(2);
    }
    100% {
      top: 7%;
      z-index: 4;
      position: absolute;
      transform: scale(1.1);
    }
  }
  @keyframes welcome {
    0% {
      height: 100vh;
      width: 100vw;
    }
    55% {
      opacity: 1;
    }
    95% {
      opacity: 0;
      height: 100vh;
      width: 100vw;
    }
    100% {
      opacity: 0;
      display: none;
    }
  }
}
