@import './mod-bootstrap.css';

* {
  font-family: 'Montserrat', sans-serif;
}
:root {
  --primary: #fe4518;
  --secondary: #df2330;
  --gray: #828282;
  --darkGray: #707070;
  --lightGray: #c5c5c5;
  --blue: #1592e6;
  --input-interaction: rgba(73, 133, 224, 0.12);
}
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

hr {
  background: none;
  border-style: none;
  border-bottom: 2px solid var(--lightGray);
}

#root {
  display: flex;
}

.card {
  background: #fff;
  border-radius: 3%;
  box-shadow: 0px 2px 4px #808080;
  position: relative;
}

.row.bg-login {
  background-image: url('../assets/Imagen-login.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

button {
  cursor: pointer;
}

button:focus,
button:hover {
  box-shadow: 0px 0px 5px var(--lightGray);
  opacity: 0.9;
  outline: none;
}

.btn-primary,
.btn-secondary {
  border-radius: 3px;
  font-size: 0.9rem;
  padding: 15px 25px;
  text-decoration: none;
  text-align: center;
}

.btn-primary {
  border: none;
  background-image: linear-gradient(to right, var(--primary), var(--secondary));
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 200;
  color: #fff;
}

.btn-secondary {
  background: #fff;
  border: 2px solid var(--lightGray);
  text-transform: uppercase;
  color: var(--gray);
  font-weight: 600;
}

@media (max-width: 720px) {
  .row.bg-login {
    background-image: none;
    background-color: #fff;
  }
}
