.productCard,
.productCard.col {
  background-color: #fff;
  flex: 0 0 15%;
  max-width: 15%;
  margin: 2rem calc(12% / 5);
  box-shadow: 0px 0px 5px #dadada;
  text-align: center;
  display: flex;
  border-radius: 4px;
  flex-direction: column;
  max-height: 270px;
  min-height: 270px;
  transition: 0.2s;
}

.productCard:hover {
  transform: scale(1.02);
  cursor: pointer;
}

.productCard__image {
  display: block;
  width: 100%;
  border-radius: 4px 4px 0 0;
}
.productCard__name,
.productCard__value {
  font-size: 0.9rem;
  color: var(--darkGray);
  font-weight: 600;
  text-transform: capitalize;
  margin: 5% 1% 1% 0;
}

/* .productCard__value {
  margin-top: 5%;
} */

.productCard__points {
  background-color: var(--primary);
  margin-top: auto;
  color: rgb(255, 242, 242);
  font-size: 0.9rem;
  letter-spacing: 1px;
  border-radius: 0 0 4px 4px;
}

@media (max-width: 760px) {
  .productCard,
  .productCard.col {
    flex: 0 0 45%;
    max-width: 45%;
    max-height: 290px;
    min-height: 290px;
  }
}
