#content {
  position: absolute;
  margin-left: 200px;

  width: calc(100% - 200px);
  height: 100vh;
  max-height: 100vh;

  overflow-y: auto;
  background: #f5f5f5;
}

@media (max-width: 760px) {
  #content {
    margin-top: 50px;
    margin-left: 0;
    width: 100vw;
  }
}
