.svg-icon {
  height: 1em;
  fill: currentcolor;
}

.svg-nav-icon {
  height: 20px;
  color: #fff;
  fill: currentColor;
  margin-right: 10px;
}

.svg-logout-icon {
  width: 20vh;
  color: var(--primary);
  fill: currentColor;
}
