.logout-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logout-container__title {
  font-size: 1.5rem;
  color: var(--gray);
  margin-bottom: 0.5rem;
  margin-top: 2rem;
  font-weight: 500;
}

.logout-container__description {
  font-size: 1.1rem;
  color: var(--primary);
  margin-bottom: 1.5rem;
}

.logout-container__countdown {
  font-size: 1.1rem;
  font-style: italic;
  color: var(--lightGray);
  margin-bottom: 1rem;
}
