.navbar-button {
  display: none;
}
.navbar {
  width: 200px;
  max-width: 200px;
  margin: 0;
  position: relative;
  height: 100vh;
  max-height: 100vh;
  background-image: linear-gradient(to bottom, var(--primary), var(--secondary));
}
.navbar-content {
  width: inherit;
  height: auto;
  position: inherit;
}

.navbar-content img {
  max-width: 55%;
  display: block;
  margin: 2rem auto;
}

.navbar-content ul {
  margin: 0;
  padding: 0;
}

.navbar-content ul .navlink {
  list-style: none;
  padding: 14px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
  transition: 0.2s ease-in;
  margin: 8px 0;
}

.navbar-content ul .navlink svg {
  flex: 30%;
  display: grid;
  place-items: center;
}

.navbar-content ul .navlink span {
  flex: 70%;
  margin-top: 2px;
}

.navbar-content ul .navlink:hover {
  background-color: var(--secondary);
}

@media (max-width: 760px) {
  .navbar {
    width: 100vw;
    max-width: 100vw;
    max-height: 50px;
    top: 0;
    position: fixed;
    z-index: 10;
    background: var(--primary);
  }
  .navbar img {
    max-width: 45%;
  }

  .navbar-button {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 87%;
    margin-top: 16px;
  }
  .navbar-button span {
    width: 25px;
    height: 5px;
    display: block;
    background: #fff;
    transition: 0.5s;
    margin: 8px 0;
  }
  .navbar-button span::before {
    content: '';
    width: 35px;
    height: 5px;
    display: block;
    background: #fff;
    position: absolute;
    top: 0px;
  }
  .navbar-button span::after {
    content: '';
    width: 15px;
    height: 5px;
    display: block;
    background: #fff;
    position: absolute;
    bottom: 0px;
  }

  .navbar-button span.active::before {
    content: '';
    width: 15px;
    height: 5px;
    display: block;
    background: #fff;
    position: absolute;
    top: 0px;
  }
  .navbar-button span.active::after {
    content: '';
    width: 35px;
    height: 5px;
    display: block;
    background: #fff;
    position: absolute;
    bottom: 0px;
  }

  .navbar-content {
    transform: scaleY(0);
    transform-origin: top;
    transition: all 0.18s ease-in-out;
    position: absolute;
    right: 0;
    top: 49px;
    z-index: 10;
    width: 70%;
    background-image: linear-gradient(to bottom, var(--primary), var(--secondary));
  }

  .navbar-content.active {
    transform: scaleY(1);
    min-height: 100vh;
    max-height: 100vh;
    transition: all 0.21s ease-out;
    overflow-y: auto;
  }
}
