.productFilter-nav {
  position: relative;
  display: flex;
  box-shadow: 0px 4px 20px #e0e0e0;
}
.productFilter-nav ul {
  position: relative;
  display: flex;
  max-width: 60%;
  overflow-x: auto;
  margin-left: 5%;
}

.productFilter-nav #marker {
  position: absolute;
  height: 3px;
  left: 0;
  width: 0;
  background: var(--primary);
  bottom: 0px;
  transition: 0.5s;
  border-radius: 10px;
}
.productFilter-nav__button {
  border: none;
  position: relative;
  margin: 10px 20px;
  font-size: 1rem;
  color: var(--gray);
  text-decoration: none;
  background-color: transparent;
}
.productFilter-nav__button:hover,
.productFilter-nav__button:focus {
  border: none;
  background: transparent;
  box-shadow: none;
}
.productFilter__btn-scroll-left,
.productFilter__btn-scroll-rigth {
  display: none;
}

@media (max-width: 760px) {
  .productFilter-nav {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .productFilter-nav ul {
    max-width: 80%;
    overflow-x: hidden;
    margin: 10px auto;
    scroll-behavior: smooth;
    padding: 0 15px;
  }
  .productFilter__btn-scroll-left,
  .productFilter__btn-scroll-rigth {
    display: block;
    outline: none;
    margin: 0px auto;
    background: transparent;
    border: none;
    color: var(--primary);
  }
  .productFilter__btn-scroll-left:focus,
  .productFilter__btn-scroll-rigth:focus {
    box-shadow: none;
    background: transparent;
  }
}
