.login-form {
  height: 70%;
  margin-left: auto;
  margin-right: 15%;
}
.login-form__title {
  text-align: center;
  color: var(--gray);
}
.login-form__forgotPassword {
  color: var(--blue);
  display: block;
  text-decoration: none;
  text-align: center;
}
.login-form__incorrectCredentials {
  text-align: center;
  color: var(--primary);
  font-size: 0.9rem;
}

@media (max-width: 720px) {
  .login-form {
    height: 100vh;
    margin: 0;
    border-radius: 0 !important;
    box-shadow: none !important;
    max-height: 80vh;
  }
}
